@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Gluten:wght@200&display=swap%27');
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: inline;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-family: "Balsamiq Sans", sans-serif ;
}

body{
  background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}