

.Ayuda {
    color: black;
    padding: 40px;
    font-family: "Balsamiq Sans", serif;
    background-image: url("img/chatbot.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}